<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>주가시세조회</title>
    <link rel="stylesheet" href="/css/common.css" />
    <link rel="stylesheet" href="/css/pubdata/stocks.css" />
  </head>
  <body>
    <h3>주가시세조회</h3>
    <form id="stockForm">
      <label for="itmsNm">주식종목명:</label>
      <input type="text" id="itmsNm" name="itmsNm" />

      <label for="beginBasDt">시작일:</label>
      <input type="date" id="beginBasDt" name="beginBasDt" />

      <label for="endBasDt">종료일:</label>
      <input type="date" id="endBasDt" name="endBasDt" />

      <button type="button" id="searchBtn">조회</button>
    </form>
    <table>
      <thead>
        <tr>
          <th>기준일자</th>
          <th>시가</th>
          <th>저가</th>
          <th>고가</th>
          <th>종가</th>
          <th>대비</th>
          <th>등락률</th>
          <th>거래대금</th>
          <th>거래량</th>
          <th>종목명</th>
          <th>시장구분</th>
          <th>ISIN코드</th>
          <th>단축코드</th>
          <th>상장주식수</th>
          <th>시가총액</th>
        </tr>
      </thead>
      <tbody>
        <!-- <tr>
          <td>2024-02-22</td>
          <td>10000</td>
          <td>9800</td>
          <td>10200</td>
          <td>10150</td>
          <td>+50</td>
          <td>0.49%</td>
          <td>50000000</td>
          <td>10000</td>
          <td>주식1</td>
          <td>코스피</td>
          <td>KR1234567890</td>
          <td>123456</td>
          <td>1000000</td>
          <td>10000000000</td>
        </tr> -->
        <!-- 추가적인 샘플 데이터를 필요에 따라 여기에 추가할 수 있습니다. -->
      </tbody>
    </table>
    <!-- 페이징 -->
    <div id="pagination"></div>    

    <script type="module">
      import {Pagination,formatDate,addCommasToNumberString} from '/js/common.js'

      //페이징 객체 생성
      const pagination = new Pagination(10, 10); // 한페이지에 보여줄 레코드건수,한페이지에 보여줄 페이지수

      //오늘
      const today = new Date(); 
      //시작일
      beginBasDt.value  = formatDate(new Date(today.getFullYear(),today.getMonth(),1)); // yyyy-mm-dd
      //종료일
      endBasDt.value  = formatDate(today); // yyyy-mm-dd

      searchBtn.addEventListener('click',evt=>callStockApi());

      function callStockApi(){  
        
        //종목명
        const _itmsNm = itmsNm.value;
        //시작일
        const _beginBasDt = beginBasDt.value.split('-').join('');
        //종료일
        const _endBasDt = endBasDt.value.split('-').join('');
        //레코드수
        const numOfRows = pagination.recordsPerPage;
        //요청페이지
        const pageNo = pagination.currentPage;

        let url = `/pubdata/stocks/search?`
          + `itmsNm=${_itmsNm}&`
          + `beginBasDt=${_beginBasDt}&`
          + `endBasDt=${_endBasDt}&`
          + `numOfRows=${numOfRows}&`
          + `pageNo=${pageNo}`;
        
        const option = {
          method : 'GET',
        };

        fetch(url,option)
          .then(res=>{
            if(!res.ok) {
              throw new Error('응답오류발생');
            }
            return res.json();   //응답메시지 바디를 읽어서 json포맷문자열=>js객체로 변환
          })
          .then(res=>makeHtml(res))
          //.then(res=>console.log(res))
          .catch(error=>console.error('오류 : ',error));
      }
      function makeHtml(res){
        let html = '';
        const items = res.response.body.items.item;

        if(items.length == 0){
          html = '<tr><span>조회결과가 없습니다.</span></tr>'
        }else{

          items.forEach(item=>{
            html += `<tr>`;
            html += `  <td class="cell str">${item.basDt}</td>`;
            html += `  <td class="cell num">${addCommasToNumberString(item.mkp)}</td>`;
            html += `  <td class="cell num">${addCommasToNumberString(item.lopr)}</td>`;
            html += `  <td class="cell num">${addCommasToNumberString(item.hipr)}</td>`;
            html += `  <td class="cell num">${addCommasToNumberString(item.clpr)}</td>`;
            html += `  <td class="cell num">${addCommasToNumberString(item.vs)}</td>`;
            html += `  <td class="cell num">${item.fltRt}</td>`;
            html += `  <td class="cell num">${addCommasToNumberString(item.trPrc)}</td>`;
            html += `  <td class="cell num">${addCommasToNumberString(item.trqu)}</td>`;
            html += `  <td class="cell str">${item.itmsNm}</td>`;
            html += `  <td class="cell str">${item.mrktCtg}</td>`;
            html += `  <td class="cell str">${item.isinCd}</td>`;
            html += `  <td class="cell str">${item.srtnCd}</td>`;
            html += `  <td class="cell num">${addCommasToNumberString(item.lstgStCnt)}</td>`;
            html += `  <td class="cell num">${addCommasToNumberString(item.mrktTotAmt)}</td>`;
            html += `</tr>`;
          });
        }

        document.querySelector('tbody').innerHTML = html;
        const totalCount = res.response.body.totalCount;
        pagination.setTotalRecords(totalCount);
        pagination.displayPagination(callStockApi);
      }
    </script>
  </body>
</html>
